= simple_form_for @collection, html: {class: 'form-horizontal'}, wrapper: :horizontal_form do |f|
  %fieldset
    %legend Descriptive Metadata
    = f.input :title, label: t('title_label')
    = f.input :description, label: t('description_label')
    = f.input :access_url, label: t('access_url_label')
    = f.input :physical_collection_url, label: t('physical_collection_url_label')
    = f.input :external_id, label: t('external_id_label')
    = f.input :representative_image_id, label: t('representative_image_id_label')
    = f.input :representative_item_id, label: t('representative_item_id_label')
  %fieldset
    %legend Administrative Metadata
    = f.input :uuid, disabled: true, label: t('uuid_label')
    = f.input :repository_uuid, disabled: true, label: t(:repository_uuid_label)
    = f.input :contact_email, label: t(:contact_email_label)
    = f.input :medusa_id, disabled: true, label: t(:medusa_collection_id)
    = f.input :published, label: t(:published_label), wrapper: :horizontal_boolean_no_label
    = f.input :ongoing, label: t(:ongoing_label), wrapper: :horizontal_boolean_no_label
    = f.input :harvestable, label: t(:harvestable_label), wrapper: :horizontal_boolean_no_label
    = f.input :contentdm_alias, label: t(:contentdm_alias_label)
    = f.input :private_description, label: t('private_description_label')
    = f.input :notes, label: t('notes_label')
  %fieldset
    %legend Resource Types
    = f.association :resource_types, as: :check_boxes, wrapper: :horizontal_collection, label: false
  %fieldset
    %legend Access Systems
    = f.association :access_systems, as: :check_boxes, wrapper: :horizontal_collection, label: false
  %fieldset
    %legend Child Collections
    - if @collection.repository.present?
      = f.association :child_collections, as: :check_boxes, label: false, collection: @collection.peer_collections
    - else
      No subcollections are available until this collection is saved with a repository
  = f.submit