%nav{'aria-label': :breadcrumb}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to('Home', root_path)
    %li.breadcrumb-item= link_to('Collections', collections_path)
    %li.breadcrumb-item.active{'aria-current': :page}
      = truncate(@collection.title, length: 80)

%h1 #{@collection.title}

%section
  %h2 Descriptive Metadata
  %p
    Metadata below will be made public in the
    = link_to "digital library's list of collections", Configuration.instance.dls_url + '/collections', target: '_blank'
    if set to "open."

  %dl
    %dt Description
    %dd= raw(@collection.description.html_safe.gsub("\n", '<br>'))
    %dt Access Link (to digital content in another system)
    %dd= @collection.access_url ? link_to(@collection.access_url, @collection.access_url, target: '_blank') : nil
    %dt Physical Collection Link (finding aid or catalog record)
    %dd= @collection.physical_collection_url ? link_to(@collection.physical_collection_url, @collection.physical_collection_url, target: '_blank') : nil
    %dt External ID
    %dd= @collection.external_id
    %dt Representative Image
    %dd= @collection.representative_image_id
    %dt Representative Item
    %dd= @collection.representative_item_id

%section
  %h2 Administrative Metadata

  %dl
    %dt UUID
    %dd= @collection.repository_id
    %dt Internal Collection Description (suppressed from public view)
    %dd= @collection.private_description
    %dt Notes
    %dd= @collection.notes