= render 'single_layout' do

  %h1 #{@collection.title}

  = link_to 'Edit Collection', edit_collection_path(@collection), class: 'btn btn-primary', 'aria-role': :button

  %section
    %h2 Descriptive Metadata
    %p
      Metadata below will be made public in the
      = link_to "digital library's list of collections", Settings.dls_url + '/collections', target: '_blank'
      if set to "open."

    %dl
      %dt= t 'description_label'
      %dd= raw(@collection.description.html_safe.gsub("\n", '<br>')) if @collection.description
      %dt= t('access_url_label')
      %dd= @collection.access_url ? link_to(@collection.access_url, @collection.access_url, target: '_blank') : nil
      %dt= t('physical_collection_url_label')
      %dd= @collection.physical_collection_url ? link_to(@collection.physical_collection_url, @collection.physical_collection_url, target: '_blank') : nil
      %dt= t('external_id_label')
      %dd= @collection.external_id
      %dt= t('representative_image_id_label')
      %dd= @collection.representative_image_id
      %dt= t('representative_item_id_label')
      %dd= @collection.representative_item_id

  - if @collection.resource_types.present?
    %section
      %h2 Resource Types
      %ul
        - @collection.resource_types.order(:name).each do |resource_type|
          %li= resource_type.name

  - if @collection.access_systems.present?
    %section
      %h2 Access Systems
      %ul
        - @collection.access_systems.order(:name).each do |access_system|
          %li= link_to(access_system.name, access_system)

  - if @collection.parent_collections.present?
    %section
      %h2 Parent Collections
      %ul
        - @collection.parent_collections.order(:title).each do |parent_collection|
          %li= link_to(parent_collection.title, parent_collection)

  - if @collection.child_collections.present?
    %section
      %h2 Child Collections
      %ul
        - @collection.child_collections.order(:title).each do |child_collection|
          %li= link_to(child_collection.title, child_collection)

  %section
    %h2 Administrative Metadata

    %dl
      %dt= t('uuid_label')
      %dd= @collection.uuid
      %dt= t(:repository_uuid_label)
      %dd= @collection.repository_uuid
      %dt= t(:contact_email_label)
      %dd= @collection.contact_email
      %dt= t(:medusa_collection_id)
      %dd= @collection.medusa_id
      %dt= t('medusa_file_group_id_label')
      %dd= @collection.medusa_file_group_id
      %dt= t('medusa_cfs_directory_id_label')
      %dd= @collection.medusa_cfs_directory_id
      %dt= t(:published_label)
      %dd= @collection.published
      %dt= t('published_in_dls_label')
      %dd= @collection.published_in_dls
      %dt= t(:ongoing_label)
      %dd= @collection.ongoing
      %dt= t(:harvestable_label)
      %dd= @collection.harvestable
      %dt= t('package_profile_label')
      %dd= @collection.package_profile
      %dt= t('rightsstatements_org_uri_label')
      %dd= @collection.rightsstatements_org_uri
      %dt= t(:contentdm_alias_label)
      %dd= @collection.contentdm_alias
      %dt= t('private_description_label')
      %dd= @collection.private_description
      %dt= t('notes_label')
      %dd= @collection.notes