= render 'single_layout' do

  %h1 #{@collection.title}

  = link_to 'Edit Collection', edit_collection_path(@collection), class: 'btn btn-primary', 'aria-role': :button

  %section
    %h2 Descriptive Metadata
    %p
      Metadata below will be made public in the
      = link_to "digital library's list of collections", Settings.dls_url + '/collections', target: '_blank'
      if set to "open."

    %dl
      %dt= t 'description_label'
      %dd= raw(@collection.description.html_safe.gsub("\n", '<br>'))
      %dt= t('access_url_label')
      %dd= @collection.access_url ? link_to(@collection.access_url, @collection.access_url, target: '_blank') : nil
      %dt= t('physical_collection_url_label')
      %dd= @collection.physical_collection_url ? link_to(@collection.physical_collection_url, @collection.physical_collection_url, target: '_blank') : nil
      %dt= t('external_id_label')
      %dd= @collection.external_id
      %dt= t('representative_image_id_label')
      %dd= @collection.representative_image_id
      %dt= t('representative_item_id_label')
      %dd= @collection.representative_item_id

  %section
    %h2 Administrative Metadata

    %dl
      %dt= t('uuid_label')
      %dd= @collection.uuid
      %dt= t(:contact_email_label)
      %dd= @collection.contact_email
      %dt= t(:medusa_collection_id)
      %dd= @collection.medusa_id
      %dt= t('private_description_label')
      %dd= @collection.private_description
      %dt= t('notes_label')
      %dd= @collection.notes