= render 'index_layout' do

  .row.mb-3
    .col
      .float-right
        = link_to 'New Repository', new_repository_path, class: 'btn btn-primary', 'aria-role': :button
        = link_to 'Edit Ldap Admins', edit_ldap_admins_repositories_path, class: 'btn btn-primary', 'aria-role': :button
  = will_paginate @repositories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
  %table.table#repositories
    %thead
      %th Title
      %th
    %tbody
      - @repositories.each do |repository|
        %tr
          %td= link_to(repository.title, repository)
          %td
            = link_to('Edit', edit_repository_path(repository))
  = will_paginate @repositories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer