%nav{'aria-label': :breadcrumb}
  %ol.breadcrumb
    %li.breadcrumb-item= link_to('Home', root_path)
    %li.breadcrumb-item= link_to(@virtual_repository.repository.title, repository_path(@virtual_repository.repository))
    %li.breadcrumb-item.active{'aria-current': :page}
      = link_to_unless_current truncate(@virtual_repository.title, length: 80), @virtual_repository

%h1
  Virtual Repository: #{@virtual_repository.title}

= yield